/*-----le agrego la tipografiaa ---*/
@font-face{
    src: url("../fuentes/Mulan.ttf");
    font-family: Mulan;
    font-display: swap;
}

body{
    background-color:black;
    color:white;
    font-family:Mulan;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  rgb(182, 122, 54);
    font-size: 40px;
}

a{
    color:white;
    text-decoration:none;
    /*text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 20px 30px 10px 50px;
}
/*----------ENTRADA-----------*/
.entrada{    
    top:0;left: 0;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed; /*lo pongo en la ultima capa para que me la coma la que sigue*/
    visibility:visible; 
    position:relative;
    z-index:1;   
    width:100%;
    height: 100%; 
}

.capa1{
    width:100%;
    height: 100%;
    position: absolute;
    background-image: url("../image/fondo.jpeg");    
    background-repeat: no-repeat;
}
.capa2{/*royal*/
    position: absolute;
    width:90%;
    height: 100%;
    font-size: 60px;
    text-align: left;
    margin-left: 200px;
    animation:  baja 10s linear  infinite;
    background-attachment: fixed;
}
.capa3{
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url("../image/mas_humo_rojo.png");
    background-repeat:no-repeat;
    animation: move_l 15s ease-in infinite;
    background-attachment: fixed;
}
.capa4{/*palabra brave*/
    position: absolute;
    width:100%;
    height: 100px;
    font-size: 60px;
    text-align: center;
    animation: baja 5s linear infinite;
    background-repeat: no-repeat;
}
.capa5{/*palabra true*/
    position: absolute;
    width:80%;
    height: 100%;
    font-size: 60px;
    text-align: right;
    animation: baja 6s linear infinite;
    background-repeat: no-repeat;
}
.capa6{
    position: absolute;
    width:100%;
    height: 100%;
    margin-left:67%;
    background-image: url("../image/petalos.png");
    background-repeat: no-repeat;
}
.capa7{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 300px;
    background-image: url("../image/fall.png");
    background-repeat: repeat-y;
    animation: move_a 20s linear infinite;
}

@keyframes move{
    0% { margin-left: 0%;}
    45% {margin-left:-100%;}
    70% {margin-left:-200%;}
    100% {margin-left:-300%;}
}
@keyframes baja{
    0% { margin-top: 0%;}
    50% {margin-top:5%;}
    100% {margin-top:0%;}
}
@keyframes move_l{
    0%{ background-position-x: 0%;}
    50%{background-position-x: 100%;}
    100%{background-position-x: 200%;}
}
@keyframes move_a{
    0%{ background-position-y: 0%;}
    45% {background-position-y: 100%;}
    70% {background-position-y: 200%;}
    100%{background-position-y: 300%;}
}

/*----------------
.animacionPorCuadros{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 736px; 
    height: 455px; 
    background-image: url("../image/sprite_mulan.png"); 
    position: absolute;
    animation: sheet 1s steps(7, end) infinite; 
}
@-webkit-keyframes sheet {
    from { background-position: 0px; } 
     to { background-position: -5515px; } 
 }*/

/*----------LOGO-----------*/
.presentacion{
    width:100%;
    height: 580px; 
}
.logo{
    width:720px;
    height: 486px;    
    margin-left: 300px;
}
.logo:hover{
    background-image: url("../image/mulan_logo.png");
}
/*----------COUNTDOWN-----------*/
.presentacion p{
    color:  rgb(236, 62, 18);
    font-size: 40px;
    font-weight: bold;
    text-align:center;
    margin-top: 350px;
}
/*----------SPINNER LOADER-----------*/
.loader{
    position: fixed;    
    display: flex;
    align-items: center;
    justify-content:center;
    height: 40px;
    width: 40px;
    margin: 20% 50%;
}
#spinner{
    position: absolute;
    width: 100%;
    height: 100%;    
    border:5px solid rgb(243, 236, 236);
    border-top: 5px solid rgb(212, 17, 17);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/*---------- MENU-----------*/
#_menu{
    width: 100%;
}
.menu,.mHamburguesa{
    display: inline-block;
    flex-direction: column;
}
.menu{       
    /*text-align:left;
    align-items: left;*/
    position: fixed;
    background-color: rgba(180, 46, 46, 0.95);   
    /**/
    border-radius: 5%;
    height: 60px;
    left: 20;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 90%;
    z-index: 1001;
}

.mHamburguesa{
    position: fixed;
    background-color:transparent;
	left:0;
    top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	transform:translate3d(0, 0, 0);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	user-select:none
}
.linea{ /*tengo un div vacio y le doy tamaño y color*/
	background:rgb(212, 17, 17);
    margin-left: 10px;
    margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	transform:translate3d(0, 0, 0);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.mHamburguesa:hover .-sup{
	transform:translateY(-100%);
}
.mHamburguesa:hover .-ab{
	transform:translateY(100%);
}
.mHamburguesa.is-active .-sup{
	transform:translateY(200%) rotate(45deg) !important;
}
.mHamburguesa.is-active .-med{
	opacity: 0;
}
.mHamburguesa.is-active .-ab{
	transform:translateY(-200%) rotate(135deg) !important;
}

.menu.is_active{
    position:fixed;
    transform: translate3d(60px,0px, 0px);
}

.menu ul li{ 
    list-style:none;
    float:left;
    text-transform:none;
  }
.menu ul li a, .botones ul li a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration:none;
}

.menu ul li a:hover{
    text-decoration:none;
    color:rgb(204, 154, 154);
    transform: scale(1.4);
}

/*----------ESTA VACIO POR AHORA-----------*/
#navigation{
    height: 780px;
    width: auto;
    background-image: url("../image/191220183051-mulan-2020-full-169.jpg");
    background-repeat: no-repeat;
}

@keyframes fall{
    0%{}
    100%{}
}
::-webkit-scrollbar {display: none;}
/*----------PERSONAJES-----------*/
.content1{
    position:relative; 
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.reparto, .fotos, .fotos figure{
    display:inline-block;
    flex-direction: column;    
}
.reparto{
    margin: 30px;
    width: 240px;
}
#foto{
    float:left;
    position: relative;
    margin: 30px 20px 0px 20px;
}

.content1 img{
    position:absolute;
    max-width: 100%;
    transition: all ease 1250ms;
    transform-style: preserve-3d;
    width:200px;
    height:250px;
    border-radius: 30px;
    box-shadow: 3px 3px whitesmoke, -1em 0 0.4em black;
}
.content1:hover .foto1{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(0px);
}
.content1:hover .foto2{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(40px);
}
#reparto:hover .foto3{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(80px);
}
#reparto:hover .foto4{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(120px);
}
#reparto:hover .foto5{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(160px);
}
#reparto:hover .foto6{
    transform: perspective(2000px) rotateX(0deg) 
    rotateY(30deg) rotateZ(0deg) translateX(-30px)
    translateY(0px) translateZ(200px);
}
#text {   
    text-align: center; 
    width: 5px;;
    color: white;
    background-color:rgb(236, 12, 12);
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

/*--------carrusel------*/
#carrusel {
    width:95%;
    margin:auto;
    overflow: hidden;
}
#carrusel ul{
    display:flex;
    float: right;
    width:100%;
    margin-right: 10px;
    padding:0;
    position: relative;

}
#carrusel li{
    width:100%;
    list-style: none;
    position: relative;    
}
#carrusel img {
    height: 520px;
    width: auto;
    border-radius: 2%;
    animation: cambio 20s infinite;   
    box-shadow: 3px 3px whitesmoke;
}

@keyframes cambio {
    0%,  17.5%  { transform: translateZ(-35vw) rotateY(0);margin-left: 0%; }
	27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg);margin-left:-50%; }
	55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg);margin-left:-70%; }
	82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg);margin-left:-100%; }

    /*0% { margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    100% {margin-left:-300%;}*/
}
._texto{
    text-align: center;
}
/*--------------form de comentarios--------------------*/
#comment{
    margin-top: 3em;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: block;
}
.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;
    height: 100%;
}
input, text{
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
input, text, button,textarea{
    font-size: 16px;
    line-height: 1.6;
    color: #494848;
    font-weight: 400;
}
.form-button{
    margin-top: 1em;
    width: 50%;
    cursor: pointer;
    background: whitesmoke;
    border-color: rgb(212, 17, 17);
}
.form-button:hover{
    color:whitesmoke;
    background:rgb(212, 17, 17);

}
/* -----------------eventos-------------*/
#events{
    margin-top: 6%;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: block;
    text-align: center;
}
.grid p{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
margin-left: auto;margin-right: auto;}

.en_event img{
    position:relative;
    width: 480px;
    height: auto;
    transition: all ease 1250ms;
    transform-style: preserve-3d;
    border-radius: 30px;
    box-shadow: 3px 3px whitesmoke, -1em 0 0.4em black;
}

.en_event img:hover{
    transform: perspective(500px) rotateX(0deg) 
    rotateY(10deg) rotateZ(0deg) translateX(0px)
    translateY(0px) translateZ(0px);
}
