*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
::-webkit-scrollbar {display: none;}

.span{
    margin-top: 13px;
    margin-left: 5px;
    text-align: center;
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif; 
}
.margen{
    margin-left: 10%;
    margin-right: 4%;
}
a{
    text-decoration: none;
    color: #4f4f4f;
}
.blanco{
    color: white;
}
.logo-negro{
    width: 120px;
    height: 100px;
}

.generico{
    display: block;
    margin: auto;
    margin-top: 50px;
}

.header-logo{
    background-color: white;
    height: 200px;
    width: 100%;
}
/*-------------index---------------*/
.presentacion{
    height: 466px;
    width: 100%;
    background-color:  rgb(107, 255, 255);
    background-image: url(../images/chica.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.index{    
    width: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.h1-index{    
    width: 70%;
    margin-top: 30px;
    text-align: right;
    color: red;
    font-family: 'Squada One', cursive;
    font-size: 72px;
}
.btn-index{
    float: right;
    color: white;
    height: 50px;
    width: 150px;
    margin: auto;    
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    background-color: #FF6B6B;
}
/*-------- FLECHA ATRAS------------*/
.atras{
    margin-left: 1%;
    margin-top: 1%;
    height: 25px;
    width: 25px;
}
/*----------------LOG IN--------------------*/
.opciones-login{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    background-color: white;
    border: 2px solid #200EED;
    height: 50px;
    width: 150px;
    margin: auto;
    /*margin-top: 50px;*/
    margin-bottom: 0;
    border-radius: 10px;
}

.registrarse{
    background-color: #3431B4;
    color: white;
    height: 50px;
    width: 150px;
    margin: auto;
    /*margin-top: 20px;*/
    margin-bottom: 0;
    border-radius: 10px;
}
.user{
    margin-bottom: 10px;
    text-align: start;
    width: 20%;
    min-width: 200px;
    font-family: 'Roboto', sans-serif;
}

/*-----------------------------*/

h1{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 10px;
    text-align: start;
    width: 40%;
    min-width: 200px;
}

.input-login{
    width: 40%;
    min-width: 200px;
    border: 2px solid #A9A6A6;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn-form{
    min-width: 180px;
    height: 40px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.basico{
    background-color: rgb(75, 74, 74);
}

.premium{
    background-color: orange;
}

.inicio-sesion{
    background-color:#3431B4;
}

.comenzar{
    background-color: blue;
    display: block;
    margin: auto;
}

.tit-registro{
    color: blue;
    text-align: center;
    width: 100%;
}

.tit-plan{
    color: blue;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}

.planes{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plan1{
    width: 200px;    
    height: 450px;
    background-image: url(../images/plan_free.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.plan2{
    width: 200px;    
    height: 450px;
    background-image: url(../images/plan_individual.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.plan3{
    width: 200px;    
    height: 450px;
    background-image: url(../images/plan_duo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.plan4{
    width: 200px;    
    height: 450px;
    background-image: url(../images/plan_familiar.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-plan{
    width: 95%;
    min-width: 180px;
    height: 40px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 230%;

/*
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;*/
}
/*-------------------------------------*/
.navegation{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: black;
}

.logo-navigation{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 30%;
    min-width: 220px;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-image: url(../images/logo_blanco1.png);
}
.relleno{
    width: 20%;
    background-color: black;
}

.container-links{
    margin-top: auto;
    margin-bottom: auto;
    display:inline-block;
    flex-direction: row;
    text-align: right;
    margin-right:4%;
    height: 50px;
    width: 50%;
}

.sugerencias{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: xx-large;
}

.back{
    margin-top: 20px;
    margin-left: 1%;
    width: 20px;
    height: 20px;
    background-image: url(../images/Flecha-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.links{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-size: large;
    color: white;
}

.search{
    margin-top: 37px;
    width: 30%;
    min-width: 150px;
    height: 25px;
    margin-right: 0;
}

.lupa{
    margin-top: 37px;
    background-image: url(../images/lupa.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-left: 10px;
}
.notificacion{
    width:30px; height:30px;
    background-image: url(../images/icono_notificaciones.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*----------MUSICA-----------*/

.music-sections{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 2px rgba(79, 79, 79, 0.1) solid;
}

.music-sections h3{
    margin-top: 10px;
    margin-left: 5%;
    font-weight: bold;
}

.music-content{
    margin-left: 4.5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.songs{
    min-width: 165px;
    min-height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.artist{
    min-width: 165px;
    min-height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 100%;
}

.artist1{
    background-image: url(../images/Queen.png);
}

.artist2{
    background-image: url(../images/artist-michaelJackson.png);
}

.artist3{
    background-image: url(../images/artist-Maluma.png);
}

.artist4{
    background-image: url(../images/artist-freddyMercuri.png);
}

.artist5{
    background-image: url(../images/artist-pinkFloyd.png);
}

.artist6{
    background-image: url(../images/artist-cachoCastaña.png);
}

.song1{
    background-image: url(../images/Queen.png);
}

.song2{
    background-image: url(../images/PinkFloid.png);
}

.song3{
    background-image: url(../images/FreedyMercuri.png);
}

.song4{
    background-image: url(../images/CachoCastaña.png);
}

.song5{
    background-image: url(../images/MichaelJackson.png);
}

.song6{
    background-image: url(../images/Desconocido.png);
}

.song7{
    background-image: url();
}

.song8{
    background-image: url();
}

.border{
    border-bottom: 2px rgba(79, 79, 79, 0.1) solid;
    padding-bottom: 15px;
}

.player{
    height: 55px;
    width: 100%;
    text-align: center;
    /*border: 2px solid black;*/
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    /*background-image: url(../images/player.png);*/
    background-color: #4f4f4f;
    background-repeat: no-repeat;
    position: fixed;
    left:0;
    bottom: 0;
    padding:20px 20px;
}
/*-----------------reproduccion de cancion--------------------------*/
.cancion{
    width: 100%;
    text-align: center;
    
}
.content{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.artista{
    width: 100%;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
}
.barra{
    margin-bottom: 20px;
    width: 70%;
    bottom: 0;
    position: fixed;
}
/*----------------playlist-------------------*/
.centro{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.playlist-titulo{
    width: 80%;
    height:40px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
    display: inline-flex;
    flex-direction:row ;
    background-color: #cecaca;
}
.list-head{
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align:center;
    margin-left: 10%;
    border-bottom: 2px rgba(79, 79, 79, 0.1) solid;

}
.list-content{
    width: 80%;
    height: 70px;
    margin-left: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: 2px rgba(79, 79, 79, 0.1) solid;
}
.song{width:5%;} 
.list-text{width: 55%;}

.list-stars, .list-actions{
    width:20%;
}

.list-text{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.one {
    grid-column: 1;
    grid-row: 1;
  }
.two {
    grid-column: 2;
    grid-row: 1;
  }
.three {
    grid-column: 3;
    grid-row: 1;
  }
.four {
    grid-column: 4;
    grid-row: 1;
}
.five {
    grid-column: 5;
    grid-row: 1;
  }


.list-actions{
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    flex-direction: row;
}
.song{
    min-width: 60px;
    min-height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: auto;
    margin-bottom: auto;
}
/*----*/
.espacio-blanco{
    height: 110px;
    width: 100%;
}

.song-info{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: x-large;
}

.song-search{
    margin-left: 15%;
}

.p-info{
    margin-top: 30px;
    width: 200px;
}

.score{
    display: flex;
    flex-direction: row;
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mas-canciones{
    margin: auto;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-image: url(../images/masCanciones.png);
    background-size: contain;
}

.filtro{
    color: blue;
    border: blue 1px solid;
    height: 20px;
    width: 10%;
    text-align: center;
}

.star{
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.star-enabled{
    background-image: url(../images/estrellaNaranja.png);
}

.star-disabled{
    background-image: url(../images/estrellaGris.png);
}

.actions{
    display: flex;
    flex-direction: row;
    width: 40%;
    min-width: 120px;
    margin-left: 15%;
    margin-top: 55px;
}

.action{
    margin-right: 10%;
    height: 38px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: auto;
}

.action1-menos{
    background-image: url(../images/icono_menos.png);
}

.action1{
    background-image: url(../images/icono_mas.png);
}

.rotar{
    animation: rotar 0.05s linear 3 ;
}


@keyframes rotar{
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(180deg);}
    100%{transform: rotateZ(360deg);}
}

.action1:hover{
    transform: scale(1.1);
}

.action1-menos:hover{
    transform: scale(1.1);
}

@keyframes mas{
    0% {transform: scale(1.4);}
    33% {transform: rotateZ(120deg);}
    66% {transform: rotateZ(240deg);}
    100% {transform: rotateZ(360deg);}
}

.action2{
    background-image: url(../images/icono_comentario.png);
}

.action2:hover{
    animation-name: comentario;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes comentario{
    0% {background-image: url(../images/icono_comentario0.png); transform: scale(1.4);}
    33% {background-image: url(../images/icono_comentario1.png); }
    66% {background-image: url(../images/icono_comentario2.png); }
    100% {background-image: url(../images/icono_comentario.png); }
}

.action3{
    background-image: url(../images/like.png);
}

.action3-menos{
    background-image: url(../images/like-rojo.png);
}

.action3:hover{
    transform: scale(1.1);
}

.action-like{
    animation: like 0.5s linear;

}

.action-dislike{
    animation: dislike 0.5s linear;

}

@keyframes like{
    0%{
        transform: rotateZ(0deg) scale(1);
    }
    50%{
        transform: rotateZ(180deg) scale(0.1);
    }
    100%{
        transform: rotateZ(360deg) scale(1);
        background-image: url(../images/like-rojo.png);
    }
}

@keyframes dislike{
    0%{
        transform: rotateZ(0deg) scale(1);}
    50%{
        transform: rotateZ(180deg) scale(0.1);
        
    }
    100%{
        transform: rotateZ(360deg) scale(1);
        background-image: url(../images/like.png);
    }
}

/* @keyframes like{
    0% {transform: scale(1);}
    20% {transform: scale(1.1);}
    40% {transform: scale(1);}
    60% {transform: scale(1.1);}
    80% {transform: scale(1);}
    100% {transform: scale(1);}
} */

#form {
    width: 160px;
    margin: 0 auto;
    margin-left: auto;/*centre las estrellas*/
    height: 50px;
    display: flex;
    flex-direction: row;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 40px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
    animation-name: example;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: ease-in-out;
  }

  @keyframes example {
    0% {
        /* font-size: 40px; */
        font-size: 40px;
    }
    50% {
        /* font-size: 50px; */
        font-size: 44px;
    }
    100%{
        /* font-size: 40px; */
        font-size: 40px;
    }
  }

    .swing-in-top-fwd {
	    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }   

    .swing-in-top-fwd1 {
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation-delay: 0.3s;
    }

    .swing-in-top-fwd2 {
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation-delay: 0.6s;
    }

    .swing-in-top-fwd3 {
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation-delay: 0.9s;
    }

    .swing-in-top-fwd4 {
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation-delay: 1.2s;
    }

    .bloque2{
        display: none;
    }

    @keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
        }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
        }
    }
/* AYUDA - acordeon ----------------------------------*/

#linea-buscar {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#linea-buscar-header {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#buscar {
    border: solid 1px;
    width: 250px;
    height: 30px;
}

#adentro {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#btn-buscar {
    height: 30px;
    background-color: blue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.acordeon{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.acordeon input {
    display: none;
  }
  
.acordeon__titulo {
display: block;
padding: 15px;
background: rgb(90, 90, 90);
color: #fff;
font-size: 20px;
cursor: pointer;
border-bottom: 1px solid #fff;
width: 100%;
}
.acordeon__titulo:hover {
background: rgba(110, 110, 110, 0.8);
}

.acordeon__contenido {
height: 0;
overflow: hidden;
margin: 0;
transition: all 0.5s;
width: 100%;
}

.acordeon input:checked ~ .acordeon__contenido{
height: auto;
margin: 15px 0;
}

.ayuda .tit-plan {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

/* MI CUENTA ---------------------------------------*/

#btn-modificar-datos {
    min-width: 180px;
    height: 40px;
    background-color: blue !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#btn-descartar-datos {
    min-width: 180px;
    height: 40px;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(105, 102, 102) !important;
    border: solid 2px blue;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#btn-act-plan {
    min-width: 180px;
    height: 40px;
    background-color: rgb(255, 94, 0) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#actualizar-plan {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
}

#actualiza {
    padding-top: 20px;
    font-size: 24px;
    padding-right: 10px;
}

.cont-cuenta a {
    color: rgb(255, 255, 255);
}

#descartar {
    color: rgb(82, 82, 82);
}


/* COMENTARIOS ---------------------------------------*/

#text-comentario {
    border: 1px solid grey;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lista-comentarios {
    width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

.un-comentario {
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(245, 240, 240);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.un-comentario-negrita {
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(245, 240, 240);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

#actualiza {
    font-weight: bolder;
}


/*----------NOTIFICACIONES-----------*/

#actualizar-plan-notific {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 60px;
    margin-bottom: 30px;
}

/*----------ACTUALIZAR PLAN----------*/

#actualizar-plan {
    width: 80%;
    margin-left: auto;
    margin-left: auto;
}

.un-plan {
    margin: 8px;
    margin-top: 20px;
}

.un-plan a {
    color: white;
}

#texto-plan {
    margin-top: 20px;
}

#tu-plan-es {
    width: 250px;
    height: 40px;
    border: 1px solid grey;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

/*----------FOOTER-----------*/

.contact{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #4f4f4f;
}
.social-media{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    background-repeat: no-repeat;
    background-image: url(../images/social_media_logos1.png);
    background-size: contain;
    padding: 20px;
}
