body{
    font-family:'Raleway',sans-serif;
    align-content: center;   
    background-color:rgb(209, 152, 99);
    /*color:rgb(66, 71, 73);*/
    display:flex;

}
h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    color:white;
    width: 300px;
    align-items: center;
}
ul{
    align-content: center;
    text-align: center;
}

.item{ 
    text-align: center;
    align-items:center;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(77, 35, 3);
    color:rgb(231, 228, 226);
    font-family: Helvetica, sans-serif;
}
.logo{
    margin-left: 2%;
    /*display:flex;*/
    float: left;
}
.jugador1, .jugador2{
    
    color:white;
    background-color:rgb(209, 152, 99);
    align-items: flex-end;
}

#jugador1:hover{
    background-color: red;
}
#jugador2:hover{
    background-color: blue;
}

.content, .navigation{
    margin-right: auto;
    float: right;
}
.content{
    margin-top: auto;
}