body{
    font-family:'Raleway',sans-serif;
    align-content: center;   
    background-color:rgb(236, 131, 33);
    /*color:rgb(66, 71, 73);*/
}
h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    color:white;
}
ul{
    align-content: center;
}
.navigation, .content, .item{
    text-align: center;
}
.item{ 
    height: 35px;
    border-radius: 5px;
    background-color: rgb(87, 80, 80);
    color:rgb(231, 228, 226);
    font-family: Helvetica, sans-serif;
}