*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.head{
    height:90px;
    width: 100%;
    display:inline-block;
    background-color: black;
}
.logo,.grupo{
    width: 50%;
    float:right;
}
.logo img {
    margin-left: 40px;
    margin-top: 20px;
}
.grupo{
    height: 300px;
    float: right;
    color:white;
    display: block;

}


h1{
    color: #FF1F3D;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left:150px;
    font-family: 'Roboto', sans-serif;
}
p{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left:150px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
}
