body{
    bottom: 0;
    font-family:'Raleway',sans-serif;
    text-align: left;      
}
h1{
    font-family: Helvetica, sans-serif;
}
ul{
    align-content: center;
}
.navigation li:hover {
    background-color: grey;
}
.navigation{
    /*text-align:center;
    background:rgb(173, 167, 144);*/
    border-bottom:5px solid grey;
}
.item {
    display: inline-block;
    margin: 0px 20px;
    color: white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    padding: 10px;
  }
/*------footer------*/
footer{
    font-family:Helvetica,sans-serif;
    background-color:rgb(54, 158, 127);
    height:7%;
    position: absolute; 
    bottom: 0;
    display:inline-block;
    text-align:center;
    color:whitesmoke;        
}

/*------mobile------*/
@media only screen and (min-width: 720px){
    #contenido{
        display: inline-flex;
    }

}