body{
    font-family:'Raleway',sans-serif;
    align-content: center;   
    background-color:rgb(201, 225, 235);
}
h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    color:rgb(66, 71, 73);
}
/*ul{
    align-content: center;
}*/

.navigation li:hover {
    background-color:rgb(88, 96, 99);

}
.navigation, .contenido{
    text-align: center;
}
.button1{ 
    height: 35px;
    border-radius: 5px;
    background-color: rgb(96, 148, 89);
    color:rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
}
.button2{ 
    height: 35px;
    border-radius: 5px;
    background-color: rgb(80, 180, 142);
    color:rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
}

/*------footer------*/
footer{
    font-family:Helvetica,sans-serif;
    background-color:rgb(54, 158, 127);
    height:7%;
    position: absolute; 
    bottom: 0;
    display:inline-block;
    text-align:center;
    color:whitesmoke;        
}

/*------mobile------
@media only screen and (min-width: 720px){
    #contenido{
        display: inline-flex;
    }

}*/